# Node / Vite
node_modules/
dist/
dist-ssr/
*.local
.vite/
.vite_temp/

# Java / Maven
target/
*.class
*.jar
*.war
*.ear
*.log
.mvn/wrapper/maven-wrapper.jar

# IDE & OS
.idea/
*.iml
.vscode/
.DS_Store
Thumbs.db
*.tmp
